* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 100%;
}

.layoutWrapper {
    /* position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; */

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: #19274A;
    max-width: 500px;
    height: 100dvh;
    overflow: auto;
    margin: 0 auto;

}
