body {
    font-family: "PT sans", sans-serif;
}

.add-note-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    margin-top: 3rem;
    gap: 1rem;
}

.input-wrapper {
    min-height: 50dvh;
}

.input-text {
    border: none;
    min-width: 100%;
    min-height: 50dvh;
}

.input-text::-ms-value {
    max-width: 90%;
}

.input-text:focus {
    border: none;
}

.input-text:active {
    border: none;
}

/* Username input styling */

.input-wrapper__username {
    position: relative;
    width: 90%;
    margin: 2rem 0 1rem 0;
}

.input-wrapper__username .input-username {
    padding: 1rem 2rem;
    border: 2px solid hsla(0, 0%, 100%, 0.8);
    border-radius: 3px;
    background-color: #19274A;
    width: 100%;
    color: hsla(0, 0%, 100%, 0.8);
    font-size: 24px;
}


.input-wrapper__username .input-username:focus+.label {
    top: -10px;
    left: 8px;
}

.input-wrapper__username .label {
    position: absolute;
    left: 16px;
    top: 20px;
    padding: 0 4px;
    background-color: #19274A;
    font-size: 14px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.8);
    transition: all .3s ease-out;
    font-size: 24px;
}

.publish-btn {
    width: 90%;
    background-color: #EF4343;
    padding: 1rem 2rem;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}

.publish-btn:hover {
    background-color: hsla(0, 84%, 60%, 0.9);
}