
.floating-btn {
    background-image: url(../../public/img/add-btn.png);
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
}