* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .notesPage {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: #19274A;
    max-width: 500px;
    height: 100dvh;
    overflow: auto;
    margin: 0 auto;
} */
.noteSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    gap: 1.5rem;
    min-width: 90%;
}